<%- include('partials/header') %>

<section>
    <h2>Top Artists</h2>
</section>

<div class="container">
    <div class="timeRange">
        <% if (timeRange === 'short_term') { %>
        <a href="/artists/top?time_range=short_term">
            <div class="timeRange--option" style="background-color: #17855C;">Last 4 weeks</div>
        </a>
        <a href="/artists/top?time_range=medium_term">
            <div class="timeRange--option">Last 6 months</div>
        </a>
        <a href="/artists/top?time_range=long_term">
            <div class="timeRange--option">All time</div>
        </a>
        <% } else if (timeRange === 'long_term') { %>
        <a href="/artists/top?time_range=short_term">
            <div class="timeRange--option">Last 4 weeks</div>
        </a>
        <a href="/artists/top?time_range=medium_term">
            <div class="timeRange--option">Last 6 months</div>
        </a>
        <a href="/artists/top?time_range=long_term">
            <div class="timeRange--option" style="background-color: #17855C;">All time</div>
        </a>
        <% } else { %>
        <a href="/artists/top?time_range=short_term">
            <div class="timeRange--option">Last 4 weeks</div>
        </a>
        <a href="/artists/top?time_range=medium_term">
            <div class="timeRange--option" style="background-color: #17855C;">Last 6 months</div>
        </a>
        <a href="/artists/top?time_range=long_term">
            <div class="timeRange--option">All time</div>
        </a>
        <% } %>
    </div>
    <div class="top-artists">

        <% for (const artist of artists) { %>

        <div class="card--artist">
            <a href="<%= artist.external_urls.spotify %>" target="_blank">
                <div class="card--artist-img"><img src=<%= artist.images[1].url %>></div>
                <div class="card--artist--text"><%= artists.indexOf(artist) + 1 %>.
                    <%= artist.name %></div>
            </a>
        </div>

        <% } %>

    </div>
</div>

<%- include('partials/footer') %>